/* form register */
.account-create h3,.account-create h1,.customer-account-login .account-login h2,.customer-account-login h1,.customer-account-forgotpassword h1,
.customer-account-forgotpassword h2, .contacts-index-index .page-title h1,.contacts-index-index .col2-set h4,.page_view_all h1{
    color: #000;
}
p,h1,h2,h3,h4,h5,h6,div,ul,li,ol,span,a,form,input{
    font-family: arial, helvetica, sans-serif !important;
}
#header-search #search_mini_form .search-button{
    text-transform: capitalize;
}
.account-create h3,.customer-account-forgotpassword h2{
    font-size: 16px;
}
.account-create h1,.form_forget_t h1{
    margin-bottom: 40px;
}
.account-create .customer-account-create .scaffold-form label:first-child,.count-container strong{
    font-weight: normal;
}
.account-create .form-list,.account-create .name-firstname,.account-create .name-lastname,.account-create ul li div.field{
	width:50%;
}
.account-create .name-firstname,.account-create .name-lastname,.account-create ul li div.field,.account-create .buttons-set button.button{
    float: left;
}
.account-create .input-box input{
    width: 270px;
    border-radius: 0;
}
.account-create .input-box input.checkbox{
	width:auto;
}
.account-create .buttons-set button.button{
    margin-left: 0;
    min-width: inherit;
    padding: 8px 20px;
	font-weight:bold;
    background: #e06426;
}
.account-create .buttons-set{
	border-top:none;
}
.account-create .control label,.account-create .control label:hover{
    background-color: inherit;
    padding-left: 35px;
}
.account-create .control .input-box #is_subscribed:hover{
	cursor:pointer;
	float:left;
}
.customer-account-create .account-create .scaffold-form label:first-child{
    font-weight: normal;
    color: #656565;
    font-size: 14px;
}
.account-create ul li h3{
    margin-top: 25px;
}
.account-create .form-list .customer-dob .dob-month{
    width: 45px;
}
.account-create .captcha-reload{
    left: 4px;
    right: inherit;
}
.customer-account-create .account-create .fieldset,.account-create .buttons-set,.customer-account-forgotpassword .form_forget .fieldset,
.customer-account-forgotpassword .form_forget .buttons-set,.contacts-index-index .col-1 .buttons-set,.account-create .input-box input.checkbox{
    margin-left: 0;
}
.account-create .control label{
    display:inline-block;
    height: 30px;
    margin:0;
    vertical-align:middle;
    background:url(../images/checkbox.png) left 3px no-repeat;
    cursor:pointer;
}
.account-create .control label.label_check{
    background:url(../images/checkbox_active.png) left 3px no-repeat;
}
.account-create .control .input-box #is_subscribed{
    width: 21px;
    height: 21px;
    margin-top: 4px;
    opacity: 0;
}
/* end form register */
/* login page */
.account-login .registered-users ul li{
    list-style: none;
}
.account-login .registered-users,.account-login .new-users{
	border:3px solid #ededed !important;
    width: 49%;
    text-align: center;
    padding: 20px 0 !important;
}
.customer-account-login .account-login .col2-set .buttons-set{
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(0);
    -ms-transform: translateX(-50%) translateY(0);
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
}
.customer-account-login .account-login .col2-set .col-1 ul{
    margin: 0;
    padding: 0;
}
.customer-account-login .account-login .col2-set .col-2 ul{
    width: 90%;
    margin: 0 auto;
    text-align: left;
}
.customer-account-login .account-login .col2-set .col-2 ul li span{
	background:url(../images/icon_lilo.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 7px;
    height: 7px;
    display: inline-block;
    padding: 0 20px 8px 0;
}
.customer-account-login .account-login .col2-set .col-2,.customer-account-login .account-login .col2-set .col-1{
	height:265px;
	position:relative;
}
.customer-account-login .account-login .form-instructions{
    text-align: left;
    width: 90%;
    margin: 0 auto;
    padding-left: 20px;
    color: #000;
    margin-top: 10px;
}
.customer-account-login .account-login .f-left{
    color: #4279a0;
}
.customer-account-login .account-login .f-left:hover{
    color: #e06426;
}
.customer-account-login .account-login .input-box input{
	border-radius:0;
    padding: 10px 20px;
    height: auto;
}
.customer-account-login .account-login h2{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.customer-account-login .account-login .buttons-set button,.customer-account-login .account-login .buttons-set a.button{
    width: auto;
    min-width: inherit !important;
    background: #e06426;
    font-size: 15px;
    padding: 7px 25px;
}
/* end login page */
/* forgot password */
.customer-account-forgotpassword .buttons-set .button{
    background: #e06426;
}
/* end forgot password */
/* contact page */
.contacts-index-index .page-title h1{
    border-bottom: 1px solid #ededed;
    margin-bottom: 30px;
}
.contacts-index-index #contactForm{
    padding-left: 0;
}
#contactForm .button span{
    font-size: 18px;
    font-weight: normal;
}
.contacts-index-index .col-1 input,.contacts-index-index .col-1 textarea,.contacts-index-index .col-1 .buttons-set{
    width: 100%;
    max-width: 100%;
}
.contacts-index-index .col-1 input,.contacts-index-index .col-1 .wide{
	width:100%;
}
.contacts-index-index .col-1 .buttons-set{
	border:0;
}
.contacts-index-index .col-1{
    border-right: 1px solid #ededed;
}
.contacts-index-index .col-1 .buttons-set button{
    float: left;
    margin-left: 0;
    background: #e06426;
	font-weight:bold;
}
.contacts-index-index .col2-set h4{
    text-transform: capitalize;
    font-size: 16px;
}
.contacts-index-index .col2-set .col-2 h4{
	margin-top:20px;
}
.contacts-index-index .col2-set .col-2 h4:first-child{
	margin-top:0;
}
.contacts-index-index #contactForm label,.customer-account-forgotpassword form .form-instructions{
    font-size: 14px;
}
body.customer-account li, body.customer-account strong, .contacts-index-index .col2-set h4, .customer-account h1, .customer-account h3,.dashboard .box-account p,
.dashboard .box-account address,body.customer-account h2,body.customer-account .my-account .button, .customer-account h4, .customer-account h5,
.cms-page-view .std li, .cms-no-route .std li{
    font-family: arial, helvetica, sans-serif !important;
}
/* page */
.cms-page-view .page_view_all h1{
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid #ededed;
    padding-bottom: 3px;
    margin-bottom: 15px;
    text-transform: inherit;
}
.cms-page-view .std,.cms-page-view .page_view_all h1{
    font-family: arial, helvetica, sans-serif;
}
/* homepage */
#show_learn_more{
	cursor:pointer;
}
#content_learn_more{
    text-align: center;
    padding: 0;
    display: none;
}
.content_learn_more{
    display: block !important;
    padding: 20px 0 10px 0 !important;
}
/* popup product */
/*.quickview-index-view #az_mouseOverZoomParent{
    margin-top: 15px;
}*/
.quickview-index-view .dl_detail{
	display:none;
}
/* success charge */
.checkout-onepage-success .page_view_all p,.checkout-onepage-success .page_view_all button span,.cart-empty p,.address-information p.label{
    font-size: 16px;
}
.address-information p.label{
    font-family: arial, sans-serif;
}
#discount-coupon-form .button-wrapper button:nth-of-type(2){
	background:none !important;
	clear:both;
}
#discount-coupon-form .button-wrapper button:nth-of-type(1),#discount-coupon-form .button-wrapper button:nth-of-type(2){
    width: 78px;	
}
#discount-coupon-form .button-wrapper button:nth-of-type(2) span{
	color:#000;
    font-size: 15px!important;
    font-weight: 400;
    line-height: 35px;
    text-transform: capitalize;
}
#category-node-20 img{
	display:none;
}
#one-step-checkout-form .order-review-section .payment-method .sp-methods dt label{
    width: 100%;
}
#checkout-payment-method-load dt:nth-of-type(1) .id_creadi_right{
	float:right;
}